@charset "utf-8";

* {
	margin:0;
	padding:0;
}

/** General style **/
body {
	margin: 0;
	padding: 0;
}

dl {
    margin-bottom: 50px;
}
dl dt {
    float: left;
    font-weight:bold;
    margin-right: 10px;
    padding: 5px; 
    width: 160px;
}
dl dd {
    margin: 0 0 2px 180px;
    padding: 5px 0;
}

/** Forms **/
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	margin-bottom: 0;
}

form div.input {
	clear: both;
	padding: 10px;
	margin-bottom: 5px;
	vertical-align: text-top;
}

form div.input.checkbox {
	margin-left: 20px;
}

form .required {
	font-weight: bold;
}
form .required label:after {
	color: #e32;
	content: '*';
	display:inline;
}
label {
	font-weight: inherit;
}

input,
.uneditable-input {
	width: 300px;
}

textarea {
	width: 600px;
}

select {
	width: 320px;
}

.input.date select {
	width: auto;
}

/** Form errors **/
form .error {
	background: #F2DEDE;
	border: 1px solid #EED3D7;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-weight: normal;
}
form .error-message {
	-moz-border-radius: none;
	-webkit-border-radius: none;
	border-radius: none;
	border: none;
	background: none;
	margin: 0;
	padding-left: 4px;
	padding-right: 0;
}
form .error,
form .error-message {
	color: #B94A48;
	margin: 5px 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
}

/** Actions **/
.actions [class^="icon-"],
.actions [class*=" icon-"] {
	margin: 0 5px 0 0;
}
